<div class="p-6 sm:p-8 space-y-4 md:space-y-6 w-full sm:max-w-md bg-white sm:rounded-md shadow dark:border dark:bg-gray-800 dark:border-gray-700">
  <h2 class="text-xl font-bold text-gray-900 md:text-2xl dark:text-white" style="bacbackground: cornsilk;">
    Увійти для управління магазином
  </h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= active_admin_form_for(resource, as: resource_name, url: main_app.send(:"#{scope}_session_path")) do |f|
    f.inputs do
      resource.class.authentication_keys.each_with_index { |key, index|
        f.input key, label: 'Пошта', input_html: { autofocus: index.zero? }
      }
      f.input :password, label: 'Пароль'
    end
    f.actions do
      f.action :submit, label: 'Увійти', wrapper_html: { class: "grow" }, button_html: { class: "w-full", value: 'Увійти' }
    end
  end
  %>
</div>
